th, td {
    padding: 20px 50px;
}

tr:hover {background-color: #f5f5f5;}

table {
    background-color: white;
    border-spacing: 5px;
    text-align: center;
    margin : 50px auto 0px;
    font-size: 16px;
    border: solid 1px black;
    width: 50%;
}

h1 {
    font-size: 5em;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
}

body {
    color: white;  
    font-family: 'Nunito';
}

nav {
    font-size: 1.5em; 
}

.mybox {
    border : 2px solid pink;
    width : 20vw;
    height: 30vh; 
}

.ibox {
    text-align: center;
    height: 100%;
}

.icon-center {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}